<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lyraInAppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB900C1C1F5D7DFC00860F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB900C301F5D7DFD00860F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB900C3B1F5D7DFD00860F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
